.main{
  margin: 90px auto 100px auto;
  padding: 0 20px;
  max-width: 850px;
  }
  .page-title{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .items-grid{
    display: flex;
    flex-direction: column;
  }
  .order-container{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .order-details-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 20px 25px;
  }
  .order-date-price-container{
    display: flex;
   
    margin-bottom: 5px;
  }
  .order-date-container{
    margin-right:45px ;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .order-placed{
    min-width: 97px;
    font-weight: 500;
    margin-right: 5px;
  }
  .price-container{
    display: flex;
    flex-direction: column;
    margin-right:45px ;
  }
  .total{
    font-weight: 500;
    margin-right: 5px;
  }
  .order-id-container{
    
    display: flex;
    flex-direction: column;
  }
  .order-id-title{
    font-weight: 500;
    margin-right: 5px;
    min-width: 63px;
  }
  .order-id{
    display: flex;
    flex-wrap: wrap;
  }
  .order-items{
   padding: 40px 25px;
  }
  .order-products-grid{
    display: grid;
    grid-template-columns: 110px 1fr 220px;
    column-gap: 35px;
    row-gap: 60px;
  }
  .product-img{
    max-width: 110px;
    max-height: 110px;
  }
  .product-details{
    display: flex;
    flex-direction: column;
  }
  .product-name{
    font-weight: bold;
    margin-bottom: 7px;
  }
  .product-arrival{
    margin-bottom: 3px;

  }
  .product-quantity{
    margin-bottom: 5px;
  }
  .buy-again-button{
    width: 140px;
    padding: 5px;
    border-radius: 8px;
    font-size: 0.95em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .again-icon{
    width: 25px;
    margin-right: 10px;
  }
  .track-button{
    width: 100%;
    border: solid 1px rgb(217, 217, 217);
    background-color: rgb(255, 255, 255);
    font-size: 0.95em;
    padding: 10px 5px;
    color: rgb(33, 33, 33);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(213, 217,217,0.5)

  }
  .track-button:hover{
    background-color:rgb(249, 249, 249) ;
  }
  @media(max-width:800px){
    .order-products-grid{
      
      grid-template-columns: 110px 1fr;
      row-gap: 0;
      padding-bottom: 8px;
      
    }
    .product-actions{
      grid-column: 2;
      margin-bottom: 30px;
      width: 140px;
  }
  }
  @media(max-width:580px){
    .order-date-price-container{
     flex-direction: column;
    }
    .order-date-container{
      flex-direction: row;
    }
    .price-container{
      flex-direction: row;
    }
    .order-details-container{
      flex-direction: column;
    }
    .order-id-container{
    
      flex-direction: row;
    }
    .order-details-container{
    
      padding:  15px;
    }
  }
  @media(max-width:450px){
    .order-products-grid{
      
      grid-template-columns: 1fr;
     
    }
    .product-img-container{
     
      text-align: center;
      margin-bottom: 25px;
    }
    .product-img{
      max-width: 150px;
      max-height: 150px;
    }
    .product-actions {
      grid-column: auto;
      margin-bottom: 70px;
      width: 100%;
  }
  .buy-again-button{
    width: 100%;
    margin-bottom: 15px;
  }
  .product-quantity{
    margin-bottom: 15px;
  }
      
  }