body {
  font-family: Roboto, Arial;
  color: rgb(33, 33, 33);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin: 0;
  box-sizing: border-box;
}

/* <p> elements have a default margin on the top
   and bottom. This removes the default margins. */
p {
  margin: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input, select, button {
  font-family: Roboto, Arial;
}
a{
text-decoration: none;
}
input:focus {
  outline: 2px solid rgb(255, 153, 0);
}
select{
  border: solid 1px rgb(233, 233, 233);
  background-color: rgb(243, 243, 243);
  font-size: 1em;
  padding: 3px 5px;
  color: rgb(33, 33, 33);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(213, 217,217,0.5)
}
select:focus{
  outline: 2px solid rgb(255, 153, 0);
}
.primary-button{
  
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  box-shadow: 0 1px 2px rgba(231, 201, 47,0.2)
}
.primary-button:hover{
  background-color: rgb(236, 205, 49);
}
.secondary-button{
  background-color: rgba(255, 216, 20, 0.677);
  border: 1px solid rgb(252, 210, 0);
  box-shadow: 0 1px 2px rgba(231, 201, 47,0.2)
}
.link-primary {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.link-primary:hover {
  color: rgb(196, 80, 0);
}